[submodule "willfarrell-alfred-workflows"]
	path = willfarrell-alfred-workflows
	url = https://github.com/willfarrell/alfred-workflows.git
[submodule "alfred-github-workflow"]
	path = alfred-github-workflow
	url = https://github.com/gharlan/alfred-github-workflow.git
[submodule "alfred-swich-vpn"]
	path = alfred-swich-vpn
	url = https://github.com/uchida/alfred-switch-vpn.git
[submodule "alfredapp-trello"]
	path = alfredapp-trello
	url = https://github.com/janhenckens/alfredapp-trello.git
[submodule "alfred-chrome-windows-workflow"]
	path = alfred-chrome-windows-workflow
	url = https://github.com/caiogondim/alfred-chrome-window-workflow.git
[submodule "alfred-workflow"]
	path = alfred-workflow
	url = https://github.com/dalang/alfred-workflows.git
[submodule "alfred-airdrop-workflow"]
	path = alfred-airdrop-workflow
	url = https://github.com/paulheyer/Alfred-AirDrop-Workflow.git
[submodule "alfred-npms"]
	path = alfred-npms
	url = https://github.com/sindresorhus/alfred-npms.git
[submodule "alfred-fakeenum"]
	path = alfred-fakeenum
	url = https://github.com/deanishe/alfred-fakeum.git
[submodule "alfred-json-compressor"]
	path = alfred-json-compressor
	url = https://github.com/ubuntudroid/alfred-json-compressor.git
[submodule "alfred-date-calculator"]
	path = alfred-date-calculator
	url = https://github.com/LeEnno/alfred-date-calculator.git
[submodule "hatmaker"]
	path = hatmaker
	url = https://github.com/bpinto/hatmaker.git
[submodule "awm"]
	path = awm
	url = https://github.com/jonathanwiesel/awm.git
